:root {
    --primary-bg: #F2F5F5;  /* Sfondo principale (grigio chiaro) */
    --primary-fg: #333333;  /* Testo principale */
    --accent-color: #009688;  /* Colore di evidenza (verde acqua) */
    --button-bg: #4285f4;  /* Sfondo dei pulsanti */
    --button-fg: #ffffff;  /* Testo dei pulsanti */
    --link-color: #009688;  /* Colore dei link */
    --border-color: #cccccc;  /* Colore dei bordi */
}

body {
    background: var(--primary-bg);
}

.ombra-bordo {
    border: 1px solid var(--primary-fg);
}

.btn {
    background-color: var(--button-bg);
    color: var(--button-fg);
    border: none;  
    border-radius: 5px;
    transition: background-color 0.3s ease;
    padding: 10px 20px;  
    cursor: pointer;  
}

.btn:hover {
    background-color: #3b7adf;  /* Cambiato il colore al passaggio del mouse */
}

h2 {
    color: var(--accent-color);
}

p {
    color: var(--primary-fg);
}

a {
    color: var(--link-color);
    text-decoration: none;  
    transition: color 0.3s ease;  
}

a:hover {
    color: #007d66;  
}

 